<div class="container mt-3">
  <h2>Verify phone number</h2>
  <h4>Scan below qr and send the message.</h4>
  {{countdownTimer}} seconds remaining
  <qrcode [qrdata]="'sms:+918010916555?&body=123456789'" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
  <p>If you are unable to scan the qr, please send the below code to +918010916555</p>

  <h3>123456789</h3>
  <p>If you are accessing the website using mobile click on the below link to verify your phone number.</p>
  <a href="sms:+918010916555?&body=123456789">Click here</a>  
</div>